:root {
    --heading-font: 'Koulen', 'Arial';
    --paragraph-font: 'Poppins', 'Arial';    

    --color1: #cad2c5;
    --color2: #84a98c;
    --color3: #52796f;
    --color4: #354f52;
    --color5: #2f3e46;
}

@media screen and (max-width: 600px){
    nav {
        overflow: hidden;
        display: block;
        justify-content: space-between;
        position: relative;
    }
    
    nav a {
        margin: 5px;
        display: block;
    }
    
    #nav-bar-logo {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: -3px;
    }
    
    #nav-buttons {
        display: block;
    }

    #nav-buttons a {
        padding: 10px;
    }
    
    #social-date {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -10px;
        display: flex;
        align-items: center;
    }
    
    .date {
        display: none;
    }

    #nav-facebook-logo {
        width: 35px;
        margin-top: 4.5px;
        margin-right: -50px;
    } 
    
    #nav-instagram-logo {
        width: 31px;
        margin-bottom: -20px;
        margin-right: -10px;
    }

    #home-page-main {
        margin: 10px;
        display: grid;
    }

    #main-title {
        font-size: 25px;
    }

    #hero {
        grid-column: 1/4;
    }
    
    #vineyard-img {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #image-label::after {
        content: "Small";
    }

    #call-to-action {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-top: 40%;
        color: white;
        text-decoration: none;
        /* margin-top: 10px; */
    }
    
    #call-to-action a {
        font-size: 15px;
        color: black;
        text-decoration: none;
        background-color: whitesmoke;
        box-shadow: 0px 0px 2px gray;
        padding: 10px;
        border-radius: 10px;
        transition: font-size .5s;
    }

    #arrow {
        font-size: 18px;
    }

    #events {
        grid-column: 1/4;
        grid-row: 2/3;
        margin-top: 20px;
    }

    #weather {
        grid-column: 1/4;
        grid-row: 3/4;
        margin-top: 20px;
    }

    #news {
        grid-column: 1/4;
        grid-row: 4/5;
        margin-top: 20px;
    }

    #company-spotlights {
        grid-column: 1/4;
        grid-row: 5/6;
        margin-top: 20px;
    }

    .divider {
        display: none;
    }

    #join {
        display: none;
    }

    #footer-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #discover-main {
        margin: 0;
    }

    .discover-image {
        width: 96%;
        border-radius: 15px;
    }
    
    .discover-box {
        flex-direction: column;
        border-radius: 20px;
    }
}

/* ---------- General Formatting ---------- */

body {
    margin: 0 auto;
    font-family: var(--paragraph-font);
    background-color: whitesmoke;
}

h1 {
    font-family: var(--heading-font);
}

h2 {
    font-family: var(--heading-font);
}

header {
    background-color: var(--color2);
    box-shadow: 0px .5px 3px #333;
}

header img {
    width: 80px;
}

#invitation {
    text-align: center;
    background-color: var(--color4);
    color: white;
    padding: 10px;
}

nav a {
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

#nav-buttons a:hover {
    background-color: var(--color3);
    color: white;
    box-shadow: 0px 1px 3px #333;
    transition: .25s ease;
}

#nav-social {
    display: flex;
}

#main-title {
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 10;
    margin-top: -1px;
}

#hero {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2.5px;
}

.responsive-img{
    width: 100%;
    border-radius: 8.5px;
}

#image-label {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1000;
    margin-top: 25%;
    font-size: 40px;
    font-family: var(--heading-font);
    color: red
}


#events h2 {
    margin: 0;
}

#events {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}

.event {
    border: solid 1px var(--color5);
    border-radius: 6.5px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.event span {
    background-color: var(--color2);
    color: white;
    padding: 10px;
    border-top-left-radius: 5.5px;
    border-top-right-radius: 5.5px;
}

.event p {
    padding: 10px;
}

#weather {
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    padding: 10px;
}

#weather h2 {
    margin: 0;
}

#weather h4 {
    font-size: 30px;
}

#icon-and-temp {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icon-and-temp p {
    font-size: 40px;
}

#icon-and-temp img {
    height: 75px;
}

#conditions {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#conditions-title {
    font-family: var(--heading-font);
    font-size: 20px;
    border-bottom: solid 1px #333;
}

#conditions p {
    margin: 7.5px;
}

#news {
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    padding: 10px;
}

#news h2 {
    margin: 0;
}

#company-spotlights {
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
    padding: 10px;
}

#company-spotlights h2 {
    margin: 0;
}

#spotlight-container {
    display: flex;
    flex-direction: column;
}

.spotlight {
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 6.5px;
    margin-top: 10px;
}

.spotlight span {
    padding: 10px;
    background-color: var(--color4);
    color: white;
    border-top-left-radius: 5.5px;
    border-top-right-radius: 5.5px;
}

.spotlight img {
    padding: 10px;
    border-radius: 25px;
    height: 100px;
    
}

.spotlight p {
    padding: 10px;
}

#join {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}

#join h2 {
    margin: 0;
}

#join p {
    margin: 0;
}

footer {
    background-color: var(--color4);
    color: white;
    padding: 20px;
    text-align: center;
}

#footer-content p {
    margin: 10px;
}

#discover-main {
    margin: 10px;
}

#discover-main h1 {
    font-size: 40px;
    color: var(--color5);
    padding-left: 10px;
}

.discover-image {
    margin: 10px;
    /* border-radius: 15px; */
    border-bottom-left-radius: 97.5px;
    border-top-right-radius: 97.5px;
    box-shadow: 0px 0px 3px gray;
    transition: border-radius .5s;
}

.discover-image:hover {
    border-bottom-left-radius: 17.5px;
    border-top-right-radius: 17.5px;
}

.discover-image-title {
    font-size: 25px;
}

#discover-photos-grid {
    display: flex;
    flex-direction: column;
}

.discover-box {
    display: flex;
    margin: 10px;
    background-color: var(--color1);
    /* border-radius: 20px; */
    box-shadow: 0px 0px 3px #666;
    transition: border-radius .5s;
}

.discover-description {
    padding-left: 15px;
    padding-right: 15px;
}

img[data-src] {
    filter: blur(0.2em);
}
  
img {
filter: blur(0em);
transition: filter .5s;
}

#facts-title {
    font-family: var(--heading-font);
    font-size: 35px;
    padding-left: 10px;
    margin: 0;
}

#facts {
    margin-top: 20px;
    padding-left: 10px;
    padding-bottom: 5px;
    color: white;
    background-color: var(--color3);
    border-radius: 20px;
}